
    /* Remove the navbar's default margin-bottom and rounded borders */
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }

    /* Add a gray background color and some padding to the footer */
    footer {
      background-color: #f2f2f2;
      padding: 25px;
    }


.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
.border {
    border: 1px solid red;
  }
  .border-blue {
    border: 1px solid blue;
  }

/* book grid */

.books-grid {
  margin: 0px;
  justify-content: center;

}

/* book */
.book {
  padding: 10px 15px;
  margin: 18px;
  height: 300px;
}
.book-top {
  position: relative;
  height: 60px;
}
.book-title,
.book-authors {
  font-size: 1em;
}

.book-authors {
  color: #69A48A;
}
.book-bottom {
  position: relative;
  height: 210px;
  display: flex;
  align-items: flex-end;
}
.book-cover {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  background: #eee;
  cursor: pointer;
}
.book-shelf-changer {
  position: absolute;
  left: 105px;
  bottom: -7px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #999;
  background-image: url('./icons/arrow-drop-down.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.book-shelf-changer select {
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

.open-search {
  position: fixed;
  right: 25px;
  bottom: 25px;
}
.open-search a {
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #2e7d32;
  background-image: url('./icons/add.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 28px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  font-size: 0;
}
.close-search a{
  display: block;
  top: 20px;
  left: 15px;
  width: 50px;
  height: 53px;
  background: white;
  background-image: url('./icons/arrow-back.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 28px;
  font-size: 0;
}

.book-info {
  position: absolute;
  left: 4px;
  bottom: 5px;
  width: 120px;
  height: 180px;
  background: #c4c4c4;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 110px;
  padding: 4px;
  opacity: 0.95;
  transition: opacity 1s;

  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  z-index: 1;
}

