body {
  margin: 10px;
  padding: 10px;
  font-family: sans-serif;
  text-align: center;
}

/* BooksList */

.list-books {
  padding-top: 10px;
}
.list-books-top {
  /* position: fixed; */
  width: 100%;
  top: 30;
  border-bottom: 1px solid #d5d8df;
  display: flex;
}

.search-books {
  width: 100%;
  padding: 20px 20px 20px 60px;
  background-image: url('./icons/search.svg');
  background-repeat: no-repeat;
  background-position: 20px center;
  background-size: 1.2em;
  font-size: 1.2em;
  border: 0;
  outline: none;
}


